h1 {
	Color: #99cc99;
} 
body {
    background-image:url(BGBild.jpg);
    background-repeat:no-repeat;
    background-position: 0px 0px;
}

.table_hinter {
    text-align: center;
    background-color: blanchedalmond;
    
}

.Halbirt {
    position: 
}
